body {
  font-family: Arial, sans-serif;
  padding: 6px;
  margin: 0;
  height: 165px;
  width: 186px;
  border: 3px solid;
  border-image: linear-gradient(180deg, #27C8DB 0%, #3A6FA3 50%, #543687 100%);
  border-image-slice: 1;
}

.toggle-button {
  display: inline-flex;
  border: 1px solid #ccc;
  border-radius: 20px;
  overflow: hidden;
  cursor: pointer;
}

/* Style par défaut pour les boutons */
.toggle-button div {
  padding: 5px 15px;
  text-align: center;
  flex: 1;
  transition: all 0.3s ease-in-out;
}

/* Désactiver = Fond gris avec ombre intérieure */
.toggle-button .active {
  background-color: #ccc;
  box-shadow: inset 0 3px 5px rgba(0, 0, 0, 0.3);
}

/* Activer par défaut = Fond blanc */
.toggle-button .inactive {
  background-color: white;
  box-shadow: none;
}

/* Quand "Activer" est cliqué, appliquer les couleurs de .settings-icon:hover i */
.toggle-button .gradient {
  background: linear-gradient(180deg, #27C8DB 0%, #3A6FA3 50%, #543687 100%);
  color: white; /* Pour fallback si background-clip ne fonctionne pas */
  box-shadow: none;
  font-weight: bold;
}

#popup {
  display: none;
  position: absolute;
  top: 100px;
  left: 100px;
  width: 200px;
  height: 100px;
  background-color: white;
  border: 1px solid #ccc;
  box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
  padding: 10px;
  cursor: move;
  z-index: 1000;
}

.logo {
  width: 60%;
}

.settings-icon {
  margin-left: 20px;
  font-size: 20px;
  color: transparent;
  -webkit-text-stroke: 2px #3A6FA3; 
  text-decoration: none;
  transition: transform 0.2s ease-in-out;
}

.settings-icon:hover {
  transform: rotate(90deg);
}

.settings-icon:hover i {
  -webkit-text-stroke: 0px; /* Supprime la bordure */
  background: linear-gradient(180deg, #27C8DB 0%, #3A6FA3 50%, #543687 100%);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}

hr {
  margin: 0;
}

.form-group {
  margin: 11% 0 5% 0;
}

.toggle-wrapper {
  display: flex;
  justify-content: center;
}

