.container {
    background-color: pink;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    background-color: #f4f4f4;
  }
  
.container {
  display: flex;
  width: 100vw;
  height: 100vh;
}

.sidebar {
  width: 250px;
  background: #ffffff;
  padding: 20px;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.sidebar h2 {
  font-size: 20px;
  margin-bottom: 20px;
}

.sidebar nav ul {
  list-style: none;
  padding: 0;
}

.sidebar nav ul li {
  padding: 10px;
  cursor: pointer;
}

.sidebar nav ul li.active {
  font-weight: bold;
  color: #007bff;
}

.content {
  flex-grow: 1;
  padding: 30px;
  background: white;
  border-radius: 10px;
  box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
}

h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.section {
  margin-bottom: 20px;
}

label {
  display: block;
  margin: 10px 0;
}

button {
  padding: 10px 15px;
  background-color: #007bff;
  color: white;
  border: none;
  cursor: pointer;
  border-radius: 5px;
}

button:hover {
  background-color: #0056b3;
}

img {
  height: 10%;
  object-fit: contain;
}

#links>li :hover{
    background-color: red;
}

